#car-number-plate-panel{
	position: relative;
}
.cnp-loader {
	background: #00000069;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1000;
	display: none;
}

#car-number-plate-panel .loader {
	border: 20px solid #f3f3f3;
	border-radius: 50%;
	border-top: 20px solid #3498db00;
	border-bottom: 20px solid #3498db00;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin-left: 45%;
	margin-top: 30%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#car-number-plate-panel .cnp-top-bar {
	background-color: #ffff00;
	color: $484848;
	padding: 10px;
	font-size: 14px;
}
#car-number-plate-panel .bg-skyblue{
	background-color: #0e74bc;
	color: #fff;
	font-size: 14px;
	padding: 10px;
}
.cnp-body-content {
	background-color: #033665;
	padding: 20px 0;
}
.cnp-form-area {
	background-color: #167ac0;
	margin: 20px 0 0 0;
	padding: 15px;
	border-radius: 15px 0 0 15px;
}
.cnp-form-area input, .cnp-form-area select {
	padding: 6px 15px !important;
	color: #484848;
	border-radius: 10px !important;
	border: 1px solid transparent !important;
}
.cnp-form-area input {
	text-transform: uppercase;
}
.cnp-form-area .form-group {
	margin-bottom: 10px;
}
.cnp-form-area .form-group:last-child {
	margin-bottom: 0;
}
.cnp-form-area label {
	color: #fff;
}
.cnp-left-area {}
.cnp-left-area ul {
	margin: 0;
	padding: 0;
}
.cnp-left-area ul li {
	margin-bottom: 10px;
	list-style: none;
}
.cnp-left-area ul li button {
	border-radius: 25px;
	padding: 3px 20px;
	background: #fff;
	color: #484848;
	border: 1px solid #fff;
	margin-left: 15px;
	width: 150px;
}
.cnp-left-area ul li button.active {
	background: #0dcaf0;
	border: 1px solid #0dcaf0 ;
}
.cnp-left-area ul li button {
	border-radius: 25px;
	padding: 3px 20px;
	background: #fff;
	color: #484848;
	border: 1px solid #fff;
}
.cnp-left-area ul li.cnp-button-title {
	background: #6969ec;
	color: #fff;
	padding: 4px 20px;
	border-radius: 0px 15px 15px 0px;
}
.cnp-form-footer-button-area {
	margin: 30px 15px;
}
.cnp-form-footer-button-area ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.cnp-form-footer-button-area ul li {
	list-style: none;
	display: inline-block;
}
.cnp-form-footer-button-area ul li a,
.cnp-form-footer-button-area ul li button {
	background: #fff;
	color: #484848;
	padding: 5px 15px;
	border-radius: 15px;
	font-weight: 700;
	font-size: 15px;
}
.cnp-preview-area {}
.cnp-preview-area .cnp-preview-panel {
	background: #fff;
	border-radius: 4px;
	text-align: center;
	font-size: 140px;
	 display: flex; 
	justify-content: center;
	align-items: center;
	position: relative;
	font-weight: bolder;
	height: 210px;
	line-height: 0;
	padding-bottom: 60px;
}
.cnp-preview-area .cnp-preview-panel label {}
.cnp-preview-area .cnp-preview-panel .form-group {}
/*.cnp-preview-area .cnp-preview-panel {
	border-radius: 15px;
	text-align: center;
	font-size: 120px;
	font-weight: 700;
	height: 170px;
	text-transform: uppercase;
}*/
.cnp-preview-area .cnp-preview-area-1 {
	margin-bottom: 40px;
}
.cnp-preview-area .cnp-preview-area-2 {}
.cnp-preview-area .cnp-preview-area-2 {
	background: #eaea33;
}
#cnp-footer-preview-panel {
	font-size: 18px;
	/* line-height: 0; */
	/* margin-top: 38px; */
	position: absolute;
	bottom: 14px;
}

/*step 2*/
#cnp-step-2{
	display: none;
}
.cnp-color-block{
	height: 20px;
	width: 20px;
	display: inline-block;
	margin-left: 10px;
	border-radius: 4px;
}